misc/truths-20190320T165552Z-001/*
misc/17032019recordings/*
src/experiments/
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.idea/
# C extensions
*.so
*.mp3
*.ogg
*.zip
*.rar
# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
node_modules/.bin
node_modules/@babel
node_modules/@octokit
node_modules/@paulcbetts
node_modules/@types
node_modules/abab
node_modules/abbrev
node_modules/acorn
node_modules/acorn-globals
node_modules/agent-base
node_modules/ajv
node_modules/align-text
node_modules/alphanum-sort
node_modules/amdefine
node_modules/animate.css
node_modules/ansi
node_modules/ansi-escapes
node_modules/ansi-regex
node_modules/ansi-styles
node_modules/any-promise
node_modules/aproba
node_modules/archiver
node_modules/are-we-there-yet
node_modules/argparse
node_modules/array-find-index
node_modules/asap
node_modules/asar
node_modules/asn1
node_modules/assert-plus
node_modules/async
node_modules/asynckit
node_modules/author-regex
node_modules/autoprefixer
node_modules/aws-sdk
node_modules/aws-sign2
node_modules/aws4
node_modules/babel-code-frame
node_modules/babel-core
node_modules/babel-generator
node_modules/babel-helper-builder-binary-assignment-operator-visitor
node_modules/babel-helper-builder-react-jsx
node_modules/babel-helper-call-delegate
node_modules/babel-helper-define-map
node_modules/babel-helper-explode-assignable-expression
node_modules/babel-helper-function-name
node_modules/babel-helper-get-function-arity
node_modules/babel-helper-hoist-variables
node_modules/babel-helper-optimise-call-expression
node_modules/babel-helper-regex
node_modules/babel-helper-remap-async-to-generator
node_modules/babel-helper-replace-supers
node_modules/babel-helpers
node_modules/babel-messages
node_modules/babel-plugin-array-includes
node_modules/babel-plugin-check-es2015-constants
node_modules/babel-plugin-syntax-async-functions
node_modules/babel-plugin-syntax-async-generators
node_modules/babel-plugin-syntax-exponentiation-operator
node_modules/babel-plugin-syntax-flow
node_modules/babel-plugin-syntax-jsx
node_modules/babel-plugin-syntax-trailing-function-commas
node_modules/babel-plugin-transform-async-to-generator
node_modules/babel-plugin-transform-es2015-arrow-functions
node_modules/babel-plugin-transform-es2015-block-scoped-functions
node_modules/babel-plugin-transform-es2015-block-scoping
node_modules/babel-plugin-transform-es2015-classes
node_modules/babel-plugin-transform-es2015-computed-properties
node_modules/babel-plugin-transform-es2015-destructuring
node_modules/babel-plugin-transform-es2015-duplicate-keys
node_modules/babel-plugin-transform-es2015-for-of
node_modules/babel-plugin-transform-es2015-function-name
node_modules/babel-plugin-transform-es2015-literals
node_modules/babel-plugin-transform-es2015-modules-amd
node_modules/babel-plugin-transform-es2015-modules-commonjs
node_modules/babel-plugin-transform-es2015-modules-systemjs
node_modules/babel-plugin-transform-es2015-modules-umd
node_modules/babel-plugin-transform-es2015-object-super
node_modules/babel-plugin-transform-es2015-parameters
node_modules/babel-plugin-transform-es2015-shorthand-properties
node_modules/babel-plugin-transform-es2015-spread
node_modules/babel-plugin-transform-es2015-sticky-regex
node_modules/babel-plugin-transform-es2015-template-literals
node_modules/babel-plugin-transform-es2015-typeof-symbol
node_modules/babel-plugin-transform-es2015-unicode-regex
node_modules/babel-plugin-transform-exponentiation-operator
node_modules/babel-plugin-transform-flow-strip-types
node_modules/babel-plugin-transform-react-display-name
node_modules/babel-plugin-transform-react-jsx
node_modules/babel-plugin-transform-react-jsx-self
node_modules/babel-plugin-transform-react-jsx-source
node_modules/babel-plugin-transform-regenerator
node_modules/babel-plugin-transform-strict-mode
node_modules/babel-preset-env
node_modules/babel-preset-es2016-node5
node_modules/babel-preset-flow
node_modules/babel-preset-react
node_modules/babel-register
node_modules/babel-runtime
node_modules/babel-template
node_modules/babel-traverse
node_modules/babel-types
node_modules/babylon
node_modules/balanced-match
node_modules/base64-js
node_modules/bcrypt-pbkdf
node_modules/before-after-hook
node_modules/binary
node_modules/bl
node_modules/block-stream
node_modules/bluebird
node_modules/boolbase
node_modules/boom
node_modules/brace-expansion
node_modules/browserslist
node_modules/btoa
node_modules/btoa-lite
node_modules/buffer
node_modules/buffer-alloc
node_modules/buffer-alloc-unsafe
node_modules/buffer-crc32
node_modules/buffer-fill
node_modules/buffer-from
node_modules/buffers
node_modules/camelcase
node_modules/camelcase-keys
node_modules/caniuse-api
node_modules/caniuse-db
node_modules/caniuse-lite
node_modules/caseless
node_modules/center-align
node_modules/chainsaw
node_modules/chalk
node_modules/character-parser
node_modules/chardet
node_modules/cheerio
node_modules/chromium-pickle-js
node_modules/clap
node_modules/clean-css
node_modules/cli-cursor
node_modules/cli-spinners
node_modules/cli-width
node_modules/cliui
node_modules/clone
node_modules/co
node_modules/coa
node_modules/code-point-at
node_modules/coffee-script
node_modules/color
node_modules/color-name
node_modules/color-string
node_modules/colormin
node_modules/colors
node_modules/combined-stream
node_modules/commander
node_modules/compare-version
node_modules/compress-commons
node_modules/concat-map
node_modules/concat-stream
node_modules/conf
node_modules/console-control-strings
node_modules/constantinople
node_modules/convert-source-map
node_modules/core-js
node_modules/core-util-is
node_modules/crc32-stream
node_modules/cross-spawn
node_modules/cross-spawn-promise
node_modules/cryptiles
node_modules/cson
node_modules/cson-parser
node_modules/css
node_modules/css-color-names
node_modules/css-parse
node_modules/css-select
node_modules/css-stringify
node_modules/css-what
node_modules/cssnano
node_modules/csso
node_modules/cssom
node_modules/cssstyle
node_modules/cuint
node_modules/currently-unhandled
node_modules/dashdash
node_modules/de-indent
node_modules/debug
node_modules/decamelize
node_modules/decompress-zip
node_modules/deep-extend
node_modules/deep-is
node_modules/defaults
node_modules/defined
node_modules/delayed-stream
node_modules/delegates
node_modules/detect-indent
node_modules/detect-libc
node_modules/detective-less
node_modules/detective-sass
node_modules/detective-scss
node_modules/detective-stylus
node_modules/dom-serializer
node_modules/domelementtype
node_modules/domhandler
node_modules/domutils
node_modules/dot-prop
node_modules/eachr
node_modules/ecc-jsbn
node_modules/editions
node_modules/electron-compile
node_modules/electron-compilers
node_modules/electron-debug
node_modules/electron-download
node_modules/electron-forge-template-angular2
node_modules/electron-forge-template-react
node_modules/electron-forge-template-react-typescript
node_modules/electron-forge-template-vue
node_modules/electron-installer-common
node_modules/electron-installer-dmg
node_modules/electron-installer-snap
node_modules/electron-is-accelerator
node_modules/electron-is-dev
node_modules/electron-localshortcut
node_modules/electron-osx-sign
node_modules/electron-packager
node_modules/electron-prebuilt-compile
node_modules/electron-rebuild
node_modules/electron-squirrel-startup
node_modules/electron-to-chromium
node_modules/electron-windows-store
node_modules/electron-winstaller
node_modules/electron-wix-msi
node_modules/end-of-stream
node_modules/entities
node_modules/env-paths
node_modules/errlop
node_modules/errno
node_modules/error-ex
node_modules/es6-promise
node_modules/es6-promisify
node_modules/escape-string-regexp
node_modules/escodegen
node_modules/esprima
node_modules/estraverse
node_modules/esutils
node_modules/events
node_modules/exact-version
node_modules/execa
node_modules/exit-hook
node_modules/expand-tilde
node_modules/extend
node_modules/external-editor
node_modules/extract-opts
node_modules/extract-zip
node_modules/extsprintf
node_modules/fast-deep-equal
node_modules/fast-json-stable-stringify
node_modules/fast-levenshtein
node_modules/fd-slicer
node_modules/figures
node_modules/find-up
node_modules/findit2
node_modules/flatten
node_modules/flatten-packages
node_modules/forever-agent
node_modules/form-data
node_modules/fs-extra
node_modules/fs.realpath
node_modules/fstream
node_modules/function-bind
node_modules/gauge
node_modules/get-caller-file
node_modules/get-installed-path
node_modules/get-package-info
node_modules/get-stdin
node_modules/get-stream
node_modules/getpass
node_modules/glob
node_modules/glob-promise
node_modules/global-modules
node_modules/global-prefix
node_modules/globals
node_modules/gonzales-pe
node_modules/graceful-fs
node_modules/graceful-readlink
node_modules/graphql
node_modules/graphql-tag
node_modules/handlebars
node_modules/har-schema
node_modules/har-validator
node_modules/has
node_modules/has-ansi
node_modules/has-flag
node_modules/has-unicode
node_modules/hash-sum
node_modules/hawk
node_modules/he
node_modules/hoek
node_modules/home-or-tmp
node_modules/homedir-polyfill
node_modules/hosted-git-info
node_modules/html-comment-regex
node_modules/htmlparser2
node_modules/http-proxy-agent
node_modules/http-signature
node_modules/https-proxy-agent
node_modules/iconv-lite
node_modules/ieee754
node_modules/image-size
node_modules/imurmurhash
node_modules/indent-string
node_modules/indexes-of
node_modules/inflight
node_modules/inherits
node_modules/ini
node_modules/inquirer
node_modules/invariant
node_modules/invert-kv
node_modules/is-absolute-url
node_modules/is-arrayish
node_modules/is-buffer
node_modules/is-finite
node_modules/is-fullwidth-code-point
node_modules/is-obj
node_modules/is-plain-obj
node_modules/is-promise
node_modules/is-relative-path
node_modules/is-stream
node_modules/is-svg
node_modules/is-typedarray
node_modules/is-utf8
node_modules/is-windows
node_modules/is-wsl
node_modules/isarray
node_modules/isbinaryfile
node_modules/isexe
node_modules/isstream
node_modules/istanbul
node_modules/iterall
node_modules/jade
node_modules/jmespath
node_modules/js-base64
node_modules/js-string-escape
node_modules/js-tokens
node_modules/js-yaml
node_modules/jsbn
node_modules/jsdom
node_modules/jsesc
node_modules/jsmidgen
node_modules/json-schema
node_modules/json-schema-traverse
node_modules/json-stable-stringify
node_modules/json-stringify-safe
node_modules/json5
node_modules/jsonfile
node_modules/jsonify
node_modules/jsprim
node_modules/jstransformer
node_modules/keyboardevent-from-electron-accelerator
node_modules/keyboardevents-areequal
node_modules/kind-of
node_modules/klaw
node_modules/lazy-cache
node_modules/lazystream
node_modules/lcid
node_modules/less
node_modules/levn
node_modules/load-json-file
node_modules/locate-path
node_modules/lodash
node_modules/lodash.assign
node_modules/lodash.defaults
node_modules/lodash.difference
node_modules/lodash.filter
node_modules/lodash.get
node_modules/lodash.memoize
node_modules/lodash.merge
node_modules/lodash.pad
node_modules/lodash.padend
node_modules/lodash.padstart
node_modules/lodash.pull
node_modules/lodash.template
node_modules/lodash.templatesettings
node_modules/lodash.uniq
node_modules/lodash._reinterpolate
node_modules/log-symbols
node_modules/longest
node_modules/loose-envify
node_modules/loud-rejection
node_modules/lru-cache
node_modules/macos-release
node_modules/make-dir
node_modules/map-age-cleaner
node_modules/map-obj
node_modules/math-expression-evaluator
node_modules/mem
node_modules/meow
node_modules/midi-file
node_modules/midi-file-parser
node_modules/mime
node_modules/mime-db
node_modules/mime-types
node_modules/mimic-fn
node_modules/minimatch
node_modules/minimist
node_modules/mkdirp
node_modules/mkpath
node_modules/mksnapshot
node_modules/ms
node_modules/multiline
node_modules/mute-stream
node_modules/mz
node_modules/natives
node_modules/nib
node_modules/nice-try
node_modules/node-abi
node_modules/node-fetch
node_modules/node-gyp
node_modules/node-source-walk
node_modules/nodeify
node_modules/nopt
node_modules/normalize-package-data
node_modules/normalize-range
node_modules/normalize-url
node_modules/npm-run-path
node_modules/npmlog
node_modules/nth-check
node_modules/nugget
node_modules/num2fraction
node_modules/number-is-nan
node_modules/nwmatcher
node_modules/oauth-sign
node_modules/object-assign
node_modules/object-keys
node_modules/once
node_modules/onetime
node_modules/opn
node_modules/optimist
node_modules/optionator
node_modules/ora
node_modules/os-homedir
node_modules/os-locale
node_modules/os-name
node_modules/os-shim
node_modules/os-tmpdir
node_modules/osenv
node_modules/p-defer
node_modules/p-finally
node_modules/p-is-promise
node_modules/p-limit
node_modules/p-locate
node_modules/p-try
node_modules/parse-author
node_modules/parse-json
node_modules/parse-passwd
node_modules/parse5
node_modules/path
node_modules/path-exists
node_modules/path-is-absolute
node_modules/path-key
node_modules/path-parse
node_modules/path-type
node_modules/pend
node_modules/performance-now
node_modules/pify
node_modules/pinkie
node_modules/pinkie-promise
node_modules/pkg-up
node_modules/plist
node_modules/postcss
node_modules/postcss-calc
node_modules/postcss-colormin
node_modules/postcss-convert-values
node_modules/postcss-discard-comments
node_modules/postcss-discard-duplicates
node_modules/postcss-discard-empty
node_modules/postcss-discard-overridden
node_modules/postcss-discard-unused
node_modules/postcss-filter-plugins
node_modules/postcss-merge-idents
node_modules/postcss-merge-longhand
node_modules/postcss-merge-rules
node_modules/postcss-message-helpers
node_modules/postcss-minify-font-values
node_modules/postcss-minify-gradients
node_modules/postcss-minify-params
node_modules/postcss-minify-selectors
node_modules/postcss-normalize-charset
node_modules/postcss-normalize-url
node_modules/postcss-ordered-values
node_modules/postcss-reduce-idents
node_modules/postcss-reduce-initial
node_modules/postcss-reduce-transforms
node_modules/postcss-selector-parser
node_modules/postcss-svgo
node_modules/postcss-unique-selectors
node_modules/postcss-value-parser
node_modules/postcss-zindex
node_modules/prelude-ls
node_modules/prepend-http
node_modules/pretty-bytes
node_modules/private
node_modules/process
node_modules/process-nextick-args
node_modules/progress-stream
node_modules/promise
node_modules/prr
node_modules/pruner
node_modules/pseudomap
node_modules/psl
node_modules/pump
node_modules/punycode
node_modules/q
node_modules/qs
node_modules/query-string
node_modules/querystring
node_modules/rc
node_modules/rcedit
node_modules/read-pkg
node_modules/read-pkg-up
node_modules/readable-stream
node_modules/redent
node_modules/reduce-css-calc
node_modules/reduce-function-call
node_modules/regenerate
node_modules/regenerator-runtime
node_modules/regenerator-transform
node_modules/regexpu-core
node_modules/regjsgen
node_modules/regjsparser
node_modules/repeat-string
node_modules/repeating
node_modules/request
node_modules/require-directory
node_modules/require-main-filename
node_modules/requirefresh
node_modules/resolve
node_modules/resolve-dir
node_modules/resolve-package
node_modules/restore-cursor
node_modules/right-align
node_modules/rimraf
node_modules/run-async
node_modules/rx
node_modules/rx-lite
node_modules/rx-lite-aggregates
node_modules/rxjs
node_modules/s3
node_modules/safe-buffer
node_modules/safefs
node_modules/safer-buffer
node_modules/sander
node_modules/sanitize-filename
node_modules/sass-lookup
node_modules/sass.js
node_modules/sax
node_modules/semver
node_modules/set-blocking
node_modules/shebang-command
node_modules/shebang-regex
node_modules/sigmund
node_modules/signal-exit
node_modules/single-line-log
node_modules/slash
node_modules/sntp
node_modules/sorcery
node_modules/sort-keys
node_modules/source-map
node_modules/source-map-support
node_modules/sourcemap-codec
node_modules/spawn-rx
node_modules/spawn-sync
node_modules/spdx-correct
node_modules/spdx-exceptions
node_modules/spdx-expression-parse
node_modules/spdx-license-ids
node_modules/speedometer
node_modules/sprintf-js
node_modules/sshpk
node_modules/streamsink
node_modules/strict-uri-encode
node_modules/string-width
node_modules/stringstream
node_modules/string_decoder
node_modules/strip-ansi
node_modules/strip-bom
node_modules/strip-eof
node_modules/strip-indent
node_modules/strip-json-comments
node_modules/stylus
node_modules/stylus-lookup
node_modules/sudo-prompt
node_modules/sumchecker
node_modules/supports-color
node_modules/svgo
node_modules/symbol-observable
node_modules/symbol-tree
node_modules/synchronous-promise
node_modules/tabtab
node_modules/tar
node_modules/tar-stream
node_modules/temp
node_modules/thenify
node_modules/thenify-all
node_modules/throttleit
node_modules/through
node_modules/through2
node_modules/tmp
node_modules/tmp-promise
node_modules/to-fast-properties
node_modules/touch
node_modules/tough-cookie
node_modules/toutsuite
node_modules/tr46
node_modules/transformers
node_modules/traverse
node_modules/trim-newlines
node_modules/trim-right
node_modules/truncate-utf8-bytes
node_modules/tslib
node_modules/tunnel-agent
node_modules/tweetnacl
node_modules/type-check
node_modules/typechecker
node_modules/typedarray
node_modules/typescript
node_modules/uglify-js
node_modules/uglify-to-browserify
node_modules/uniq
node_modules/uniqs
node_modules/universal-user-agent
node_modules/universalify
node_modules/uri-js
node_modules/url
node_modules/url-template
node_modules/username
node_modules/utf8-byte-length
node_modules/util
node_modules/util-deprecate
node_modules/uuid
node_modules/validate-npm-package-license
node_modules/vendors
node_modules/verror
node_modules/void-elements
node_modules/vue-hot-reload-api
node_modules/vue-template-compiler
node_modules/vue-template-es2015-compiler
node_modules/wcwidth
node_modules/webidl-conversions
node_modules/whatwg-url-compat
node_modules/whet.extend
node_modules/which
node_modules/which-module
node_modules/wide-align
node_modules/window-size
node_modules/windows-release
node_modules/with
node_modules/wordwrap
node_modules/wrap-ansi
node_modules/wrappy
node_modules/wrench
node_modules/write-file-atomic
node_modules/xml-name-validator
node_modules/xml2js
node_modules/xmlbuilder
node_modules/xmldom
node_modules/xtend
node_modules/y18n
node_modules/yallist
node_modules/yargs
node_modules/yargs-parser
node_modules/yarn-or-npm
node_modules/yauzl
node_modules/zip-folder
node_modules/zip-stream
*.crdownload
*.mp4
*.MOV
*.mp4
*.mid
*.txt
node_modules/pyano_local_modules/pages/InsideTest/Gui - New.js
node_modules/pyano_local_modules/util/__Log__
misc/feedback msgs flowchart.md
node_modules/pyano_local_modules/pages/NewTest/___Elements_js___
src/engine/loggercounttestdelete.py
misc/workhours/*
src/experiments/configs/DEV_*
